#image_bg 
{
  margin-left: 0%;

}

.Root
{
  width: 100%;
  height: 100%;
}

.ImageBg
{
  min-width: 100%;
  min-height: 100%;
  visibility: visible;
  background-image: url("file://{images}/custom_game/loading_screen/caravans_loadscreen.psd");
  background-size: 100% 100%;
}