.HUDRoot
{
	height: 100%;
	width: 100%;
}
#deathscreen
{
	height: 100%;
	width: 100%;
	background-color: #000000cc;
	opacity: 0.0;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
#Map
{
	height: 500px;
	width: 500px;
	align: center center;
	background-image: url("file://{images}/custom_game/caravans.tga");
	//opacity-mask: url("s2r://panorama/images/masks/hero_model_opacity_mask_png.vtex");
	background-size: 110% 110%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	border-radius: 2px;
	border: 2px solid #1c1c1c;
}
#choisespawnpoint 
{
	align: left center;
	margin: 0% 0% 10% 0%;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 20px;
	font-weight: bold;
    text-shadow: 1px 1px 2px 2 #000000;
	color: white;
	text-align: left;
}
.HUDFlipped #choisespawnpoint 
{
	align: right center;
	margin: 0% 0% 10% 0%;
}
.HUDFlipped #closedeathscreen
{
	align: right center;
	margin: 0% 13% 10% 0%;
}
#opendeathscreen
{
	align: left bottom;
	margin: 0% 0% 23% 5.5%;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 40px;
	font-weight: bold;
    text-shadow: 1px 1px 2px 2 #000000;
	color: gray;
	text-align: left;
	transition-property: brightness;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
#opendeathscreen:hover
{
	brightness: 3.0;
}
#opendeathscreen:active
{
	sound: "ui_friends_slide_in";
}
#closedeathscreen
{
	align: left center;
	margin: 0% 0% 10% 13%;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 20px;
	font-weight: bold;
    text-shadow: 1px 1px 2px 2 #000000;
	color: gray;
	text-align: left;
	transition-property: brightness;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}
#closedeathscreen:hover
{
	brightness: 3.0;
}
#closedeathscreen:active
{
	sound: "ui_friends_slide_in";
}
#Map:hover
{
	opacity: 1.0;
}
.spawnpoint
{
	align: center center;
	height: 35px;
	width: 35px;
	wash-color: gray;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("file://{images}/custom_game/spawnpoint.png");
}
.spawnpoint:hover
{
	background-size: 35px 35px;
}
.spawnpoint_1
{
	position: 1% -41% 0px;
}
.spawnpoint_2
{
	position: 19.5% 1.4% 0px;
}
.spawnpoint_3
{
	position: -6% 42% 0px;
}
.spawnpoint_4
{
	position: -19.5% 6% 0px;
}
#BuyBack
{
	align: center center;
	height: 30px;
	width: 115px;
	margin: 0% 0% 470px 630px;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}
#buybacklabel
{
	align: left center;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 25px;
	font-weight: bold;
	height: 100%;
	width: 100%;
    text-shadow: 1px 1px 2px 2 #000000;
	color: white;
	opacity: 0.4;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	z-index: 1;
}
#buybacklabel:hover
{
	opacity: 1.0;
}
#byubackcost
{
	align: right center;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 25px;
	font-weight: bold;
	height: 100%;
	width: 100%;
    text-shadow: 1px 1px 2px 2 #000000;
	color: #8554ad;
	text-align: right;
}










#PresentBarRoot
{
	horizontal-align:center;
	transform: translateY(50px);

	transition-property: transform;
	transition-duration: 0.06s;
	transition-timing-function: linear;
	
	
}

.AltPressed #PresentBarRoot 
{
	transform: translateY(90px);
}

#PresentBar
{
	flow-children:none;
	horizontal-align: center;
}

#PresentsGradient
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #31903c00 ), color-stop( 0.49, #31903cff ),color-stop( 0.51, #9c4036ff ), to(#9c403600 ) );
	width: 312px;
	height: 26px;
	margin-top: 32px;
}


#Presents
{
	margin-top: 16px;
	flow-children: right;
	width: 175px;

}

#RadiantPresents
{
	width: 50px;

	horizontal-align: left;
	
	font-size: 48px;
	font-weight: bold;
	font-family: RadianceM;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 3px 1.7 #000000FF;
}

#DirePresents
{
	width: 50px;

	horizontal-align: right;
	
	font-size: 48px;
	font-weight: bold;
	font-family: RadianceM;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 3px 1.7 #000000FF;
}

#PresentImage
{
	//margin-top: -32px;

	horizontal-align: center;
	width: 60px;
	height: 78px;
	background-image: url('file://{images}/custom_game/present.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}


#PresentsTotal
{
	flow-children: right;
	margin-top: 64px;
	width: 175px;
}

#RadiantPresentsTotal
{
	width: 50px;

	horizontal-align: left;
	
	//font-size: 48px;
	font-weight: bold;
	font-family: RadianceM;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 3px 1.7 #000000FF;
}

#DirePresentsTotal
{
	width: 50px;

	horizontal-align: right;
	
	//font-size: 48px;
	font-weight: bold;
	font-family: RadianceM;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 3px 1.7 #000000FF;
}

#Time
{
	horizontal-align: center;

	margin-top: 72px;

	font-size: 22px;
	font-weight: bold;
	font-family: RadianceM;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 3px 1.7 #000000FF;
}